body{
    margin: auto;
    text-align: justify;
    font: normal 20pt 'Arial';
    padding: 10px;
}
/* Responsividade*/
.caixa{
    position: relative;
    padding: 55% 0 0 0;
}
iframe.respon{
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
}
.direita{
    position:absolute;
    top:0;
    left:50%;
    width:50%;
    height:100%;
}
